/DecoyDuck.class
/Duck.class
/FlyBehavior.class
/FlyNoWay.class
/FlyWithWings.class
/MallardDuck.class
/MuteQuack.class
/Quack.class
/QuackBehavior.class
/RedheadDuck.class
/RubberDuck.class
/Squeak.class
